.carousel::-webkit-scrollbar{ display:none; }

.hero-carousel{
  position: relative;
  overflow: hidden;            
}


.hero-carousel .viewport{
  overflow-x: auto;             
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}


@media (pointer: fine){
  .hero-carousel .viewport{
    overflow-x: hidden;          
    scrollbar-width: none;       /* Firefox */
  }
  .hero-carousel .viewport::-webkit-scrollbar{ display: none; } /* Chrome/Safari */
}
